@model Pizza.Models.View.BrugerViewModel

@{
    ViewData["Title"] = "Bruger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bruger</h1>

<h4>Opret en ny bruger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <strong>@Model.Meddelelse</strong>

        <form asp-action="Bruger">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Brugernavn" class="control-label"></label>
                <input asp-for="Brugernavn" class="form-control" />
                <span asp-validation-for="Brugernavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gade" class="control-label"></label>
                <input asp-for="Gade" class="form-control" />
                <span asp-validation-for="Gade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postnummer" class="control-label"></label>
                <input asp-for="Postnummer" class="form-control" />
                <span asp-validation-for="Postnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bynavn" class="control-label"></label>
                <input asp-for="Bynavn" class="form-control" />
                <span asp-validation-for="Bynavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
