@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Bruger: @User.Identity.Name</p>*@
    <p>Log ind med brugerid <a asp-controller="Bruger" asp-action="Login">her</a>.</p>
    <p>Registrér ny bruger <a asp-controller="Bruger" asp-action="Create">her</a>.</p>
    <p>Bestil pizza <a asp-controller="Bestilling" asp-action="Create">her</a>.</p>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <form method="post" asp-controller="Home" asp-action="Logout">
                    <button type="submit">Log ud</button>
                </form>
            </div>
            }
</div>